-- This file contains secret, sensitive information, so after using it to
-- create "secrets.lua", don't check that file into source control.
AP = {}
AP.SSID = "MyWifiAccessPoint"
AP.PASSWORD = "WifiPasswordHere"
